/* Container */

.toolContainer {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    height: 100%;
}

/* Header */

.backButton {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 1rem;
    position: relative;
    top: 90px;
    z-index: 0;
    border: none;
    border-radius: 0;
    background-color: #38009d;
    color: #fff;
    box-shadow: 0px 1px 10px 2px #38009d;
    font-size: 1rem;
    font-weight: bold;
    appearance: none;
    transition: all 200ms;
}

.backButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.toolHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
}

/* Metadata */

.toolMetadata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    height: 100%;
}

.toolMetadata:first-child {
    margin-left: 2rem;
}

.toolMetadata:last-child {
    border-left: 2px solid #7d36ff;
    margin-right: 2rem;
    padding-left: 2rem;
}

.toolImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;
    object-fit: contain;
}

.toolName {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
}

.toolDescription {
    width: 80%;
    height: auto;
    font-size: 1.5rem;
}

.toolAuthor {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.toolVersion {
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.toolLink {
    margin: 0 auto;
    margin-top: 1rem;
}

.toolButton {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #38009d;
    color: #fff;
    box-shadow: 0px 1px 10px 2px #38009d;
    font-size: 1rem;
    font-weight: bold;
    appearance: none;
    transition: all 200ms;
}

.toolButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Content */

.toolContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
}

.toolIframe {
    width: 1400px;
    height: 1000px;
    display: block;
    border: none;
    margin: 0 auto;
}

/* Git */

.toolGitRepositoryContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem;
    width: 85%;
    min-width: 85%;
    max-width: 85%;
    position: relative;
    left: 80px;
    font-size: 20px;
}

.toolGitRepositoryContent b {
    margin-right: 1rem;
}

.toolGitRepositoryContent a {
    display: flex;
}

.toolGitRepositoryContent svg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    fill: #ff3c68;
    color: #ff3c68;
}

.toolGitRepositoryContent section {
    display: flex;
    padding: 1rem;
    width: 45%;
    border-left: 2px solid #7d36ff;
    border-right: 2px solid #7d36ff;
    border-bottom: 2px solid #7d36ff;
    overflow: hidden;
}

.toolGitRepositoryContent section:first-child {
    border-top: 2px solid #7d36ff;
}

.toolGitRepositoryContent p {
    margin: 0;
}


.toolGitRepositoryContent section ul {
    padding-left: 0;
}

.toolGitRepositoryContent section ul li {
    display: flex;
}

.toolGitReadmeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 80%;
}

.toolGitReadme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
}

.toolGitReadme p {
    margin-top: 0;
    margin-bottom: 0;
}

.toolGitReadme pre {
    padding: 1rem;
    background-color: #ffdcff;
    color: #38009d;
    max-width: 60%;
    font-weight: bold;
}

.toolGitReadme table th {
    margin-top: 0.5rem;
}

.toolGitReadme table th {
    margin-top: 0.5rem;
    border: 1px solid;
}

.toolGitReadme table td {
    border: 1px dotted #000;
}

.toolGitReadme a {
    color: #ff5285;
    font-weight: bold;
    text-shadow: #ff5285 0 0 4px;
}

.toolGitReadme img {
    max-width: 50% !important;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.toolGitReadme a svg {
    margin-right: 0.5rem;
    fill: #ff3c68;
    color: #ff3c68;
}

.toolGitReadme a img {
    margin-bottom: 1rem;
}
