.backButton {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 1rem;
    position: relative;
    top: 83px;
    z-index: 0;
    border: none;
    border-radius: 0;
    background-color: #7d36ff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    appearance: none;
    transition: all 200ms;
}

.backButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.toolContainer {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    height: 100%;
}

.toolHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
}

.toolContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
}

.toolMetadata {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    height: 100%;
}

.toolMetadata:first-child {
    margin-left: 2rem;
}

.toolMetadata:last-child {
    border-left: 2px solid #7d36ff;
    margin-right: 2rem;
    padding-left: 2rem;
}

.toolImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;
    object-fit: contain;
}

.toolName {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
}

.toolDescription {
    width: 80%;
    height: auto;
    font-size: 1.5rem;
}

.toolAuthor {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.toolVersion {
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.toolLink {
    margin: 0 auto;
}

.toolButton {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #7d36ff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    appearance: none;
    transition: all 200ms;
}

.toolButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.toolIframe {
    width: 1400px;
    height: 1000px;
    display: block;
    border: none;
    margin: 0 auto;
}

.toolGitContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
}

.toolGitReadme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem;
}

.toolGitReadme p {
    margin-top: 0;
    margin-bottom: 0;
}

.toolGitReadme pre {
    padding: 1rem;
    background-color: #ffdcff;
}

.toolGitReadme table th {
    margin-top: 0.5rem;
}

.toolGitReadme table th {
    margin-top: 0.5rem;
    border: 1px solid;
}

.toolGitReadme table td {
    border: 1px dotted #000;
}

.toolGitReadme a {
    color: #7d36ff;
    font-weight: bold;
}

.toolGitReadme img {
    max-width: 100%;
    margin-top: 0.5rem;
}
