iframe {
    width: 800px;
    height: 800px;
    display: block;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.toolsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px;
    padding: 0;
}

.toolCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    width: 20rem;
    height: 32rem;
    position: relative;
    background-color: #0c0015;
    border-radius: 0;
    box-shadow: 0px 0px 5px 0px #d0d0d0;
    transition: all 200ms;
    overflow: hidden;
}

.toolCard:hover {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 1px 10px 2px #976fe0;
}

.toolCardLink {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff !important;
}

.toolCardImage {
    width: 100%;
    height: 6rem;
    max-width: 15rem;
    max-height: 6rem;
    margin: 0 auto;
    margin-top: 1rem;
    object-fit: contain;
}

.toolCardTitle {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-size: 2rem;
}

.toolCardDescription {
    width: 100%;
    height: auto;
    margin-left: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
}

.toolCardButton {
    width: 8rem;
    height: 4rem;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
    background-color: #38009d;
    color: #fff;
    box-shadow: 0px 1px 10px 2px #38009d;
    font-size: 1rem;
    font-weight: bold;
    appearance: none;
    transition: all 200ms;
}

.toolCardButton:hover {
    cursor: pointer;
    opacity: 0.8;
}