.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #fbfbfb;
  background: linear-gradient(90deg, rgba(172, 112, 207, 1) 0%, rgba(206, 70, 133, 1) 35%, rgba(175, 145, 231, 1) 100%);
  color: #fff;
  box-shadow: 0 -20px 20px 15px #ffacff;
}

.headerLink {
  width: 100%;
  display: flex;
  align-items: center;
}

.headerIcon {
  width: 50px;
  height: 60px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  float: left;
}

.headerTitle {
  margin-left: 1rem;
  margin-bottom: 0;
  text-decoration: none;
  color: #fff;
  transition: all 200ms;
}

.headerTitle:hover {
  color: #ffcdff;
}
