@font-face {
  font-family: "Mulish";
  src:
    local("Mulish"),
    url("./static/font/Mulish-Regular.ttf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish";
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #110427;
  color: #fff;
}

body > :first-child {
  height: 100%;
}

.backgroundColor {
  transform: scale(20);
}

/* body > :last-child {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body > :last-child > :first-child {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #4c02cc;
}

body > :last-child > :last-child {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
} */

a {
  text-decoration: none;
  color: #ed728f;
  transition: all 200ms;
}

a:hover {
  color: #976fe0;
}

a:active {
  color: #ed728f;
}

a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}